.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-container>form{
    background-color: rgba(26, 142, 231, 0.533);
    padding: 1rem 2rem 2rem 2rem;
    width: 40%;
    border-radius: 1rem;

}


.signin-heading{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.signin-container>form>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.signin-container>form>div>label{
    margin-bottom: 1%;
    font-weight: 600;
}

.signin-container>form>div>input{
    padding: 0.2rem 0.6rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.error{
    color: red;
    margin-bottom: 0.5rem;
}